<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fraud Detection</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="logo">FinShield AI</div>
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/predict">Predict</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/export">Export CSV</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/bulk_upload">Bulk Upload</a></li>
        <li><button onclick="toggleTheme()">Dark Mode</button></li>
    </ul>
</nav>

<div class="container">
{% block content %}{% endblock %}
</div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>